* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f9f9f9;
}

.box {
    position: relative;
    background: #ffffff;
    border: 3px solid #535bf2; /* Giữ viền hồng */
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.login input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}

.login input:focus {
    border-color: #535bf2;
    box-shadow: 0 0 5px rgba(255, 39, 112, 0.3);
}

.login button {
    background: #535bf2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login button:hover {
    background: #535bf2;
}
